{% macro pagination_widget(pagination, endpoint) %}
<div style="text-align: center">
  <div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
      {% if pagination.has_prev %}
      <li class="pure-menu-item">
        <a href="{{ url_for(endpoint, page=pagination.page - 1, **kwargs) }}" class="pure-menu-link">&lt;</a>
      </li>
      {% else %}
      <li class="pure-menu-item pure-menu-disabled">&lt;</li>
      {% endif %}
      {% for page in pagination.iter_pages() %}
      {% if page %}
      <li {% if pagination.page == page %} class="pure-menu-item" {% else %} class="pure-menu-item pure-menu-selected" {% endif %}><a href="{{ url_for(endpoint, page=page, **kwargs) }}" class="pure-menu-link">{{ page }}</a></li>
      {% else %}
      <li class="pure-menu-item">&hellip;</li>
      {% endif %}
      {% endfor %}
      {% if pagination.has_next %}
      <li class="pure-menu-item"><a href="{{ url_for(endpoint, page=pagination.page + 1, **kwargs) }}" class="pure-menu-link">&gt;</a></li>
      {% else %}
      <li class="pure-menu-item pure-menu-disabled">&gt;</li>
      {% endif %}
    </ul>
  </div>
</div>
{% endmacro %}

{% macro article_widget(post, endpoint) %}
<div class="posts">
  <h1 class="content-subhead">{{ post.channel }}</h1>
  <!-- A single blog post -->
  <section class="post">
    <header>
      <div class="post-title">
        <a href="{{ url_for(endpoint, post_id=post.id, **kwargs) }}">
          {{ post.name }}
        </a>
        <p class="post-meta">
          Posted at: {{ post.publish_time.strftime('%Y-%m-%d') }}
        </p>
      </div>
    </header>
    <div class="post-description text-slice">
      <p id="content" class="markdown-body">
        {{ post.content }}
      </p>
    </div>
  </section>
</div>
{% endmacro %}