{% extends 'base.html' %}
{% import "_macros.html" as macros %}

{% block title %}
Home -
{{ super() }}
{% endblock %}

{% block content %}
<!-- define the post --->
<div>
  {% if posts %}
  {% for post in posts %}
    {{ macros.article_widget(post, 'blog.post_detail') }}
  {% endfor %}
  {% else %}
  <div class="posts">
    <h4 class="content-subhead">None</h4>
    <!-- A single blog post -->
    <section class="post">
      <header>
        <div class="post-title">
          No more data available.
        </div>
      </header>
      <div class="post-description text-slice">
        <p class="markdown-body">
          There is nothing post, maybe I forget add.
        </p>
      </div>
    </section>
  </div>
  {% endif %}
  <!-- pagination -->
  {% if pagination.pages > 1 %}
    {{ macros.pagination_widget(pagination, 'blog.channel', name=name) }}
  {% endif %}
</div>
{% endblock %}

{% block script %}
{{ super() }}
<script>
  var content = document.getElementsByClassName('markdown-body');
  for(var i=0; i<content.length; i++) {
    content[i].innerHTML = marked(content[i].textContent.trim());
  }
</script>
{% endblock %}}